pip>=25.1.1

# Core packages
streamlit==1.45.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
wordcloud==1.9.4
emoji==2.14.1
altair==5.5.0
requests==2.32.3

# Helper & formatting
Pygments==2.19.1
typing_extensions==4.13.2
rich==13.7.1  # Avoid 14.x for now

# Optional text parsing
urlextract==1.9.0
markdown-it-py==3.0.0
mdurl==0.1.2
